body {
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            max-width: 800px;
        }

        .profile {
            width: 180px;
            float: right;
            margin-left: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
